<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>
</head>
<body>
    <form>
        <label for="ticker">Ticker:</label>
        <input type="text" id="ticker" name="ticker" placeholder="z.B. AAPL" required><br><br>
 
        <label for="start_year">Start Year:</label>
        <input type="text" id="start_year" name="start_year" placeholder="z.B. 2020" required><br><br>
 
        <label for="end_year">End Year5:</label>
        <input type="text" id="end_year" name="end_year" placeholder="z.B. 2021" required><br><br>
 
        <button type="submit">get</button>
    </form>
</body>
</html><!-- The file will be the lading page of our product -->
